* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	margin: 0;
}

nav.inline {
	ul {
		li{
			display: inline;
			a {
				text-decoration: none;
				color: #FFF;
			}
		}
	}
}

nav {
	width: 100%;
	background: $navbar-default-bg;
	height: 5vh;
}

body {
	background: $body-bg-smoke;
}

article {
	height: 90vh;
}

footer {
	width: 100%;
	background: rgba($footer-bg, 0.5);
	height: 5vh;
}

#notification {
	position: fixed;
	bottom: 0;
	right: 0;
}

.full-width {
	max-width: none;
}

.max-width {
	max-width: 1400px;
	margin: 0 auto;
}

svg {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.square {
	stroke-dasharray: 540;
	stroke-dashoffset: -540;
	animation: draw-square 3s infinite alternate linear;
	transform-origin: 50% 50%;
	stroke: red;
}

@keyframes draw-square {
	0% {
		stroke-dashoffset: -540;
		transform: rotate(0deg);
	}
	50% {
		stroke: purple;
	}
	100% {
		stroke-dashoffset: 0;
		transform: rotate(360deg);
		stroke: blue;
	}
}