form {
  &.form {
    margin: 0 auto;
    &.form-layout {
      input,
      select,
      textarea {
        width: 100%;
        margin: 10px 0;
        font-size: 1.4em;
        text-align: left;
      }
    }
  }
}
