#sidebar {
    width: 15%;
    height: 100vh;
    // padding-top: $head-top;
    background: $licht-grijs;
    // @include linear-gradient(180deg, $donker-grijs 0%,$donker-grijs 38px, $licht-grijs 38px, $licht-grijs);
    .sidebarMenu {
        padding: 10px;
        li { 
            a {
                color: #FFF;
            }
        }
    }
}