// Thema
$thema-developer: aqua;
$thema-textwrider: rgb(0,14,30);
$thema-designer: rgb(255,0,190);
$thema-lawyer: rgb(33,33,33);
$thema-financial: rgb(0,143,0);
$thema-marketing: rgb(255,0,39);
$thema-accountant: rgb(0, 160, 210);
$thema-translator: rgb(78,72,144);
$thema-photographer: rgb(45,45,45);

// Buttons
$btn-default-background: #444;
$btn-accept-background: green;
$btn-desline-background: red;

  
$max-width: 1200px;
$head-top: 38px;
$donker-grijs: #454545;
$licht-grijs: #656565;