html,
body,
#content {
	height: 100%;
	width: 100%;
}

// #content {
// 	@include linear-gradient(blue 30vh, green 30vh);
// }

.animate {
	animation: animatevlag 3s infinite normal linear;
	// animation: animatevlag 1.5s infinite normal linear;
}

@keyframes animatevlag {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-192px);
	}
	// 100% {
	// 	transform: translateX(0px);
	// }
}
